body {
  opacity: 0.6;
  height: 100vh;
  font-family: cursive, Helvetica,Verdana, Arial, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.current-weather-details {
  text-align: center;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
}
.clock {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 50px;
  padding: 7px;
  width: 70%;
}
.date {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 25px;
  padding: 7px;
  width: 70%;
}
